/! Facebook social stuff
meta content="http://hacienda.io" property="og:url"
meta content="haçienda.io" property="og:title"
meta content="Hacienda is a simple, lightweight and pluggable service built to store your content" property="og:description"
meta content="Haçienda" property="og:site_name"
meta content="http://hacienda.io/images/hacienda-shareable-image.jpg" property="og:image"
meta content="website" property="og:type"
meta content="en_US" property="og:locale"

/! Twitter social stuff
meta content="summary_large_image" name="twitter:card"
meta content="@3Mircea_Moise" name="twitter:site"
meta content="@Mircea_Moise" name="twitter:creator"
meta content="haçienda.io" name="twitter:title"
meta content="Hacienda is a simple, lightweight and pluggable service built to store your content" name="twitter:description"
meta content="http://hacienda.io/images/hacienda-shareable-image.jpg" name="twitter:image:src"